@model GreenieAir.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginRegisterPartial.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h3>Forget Password ?</h3>
    <p>
        Enter your e-mail address below to reset your password.
    </p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @autocomplete = "off", @placeholder = "Email" })
            </div>
        </div>
    </div>
    <div class="form-actions">
        <a href="~/Account/Login" type="button" id="back-btn" class="btn">
            <i class="m-icon-swapleft"></i> Back
        </a>
        <button type="submit" class="btn blue pull-right">
            Submit <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
